header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin-top: 40px;
  height: 240px;

  >div{
    min-width: 300px;
    width: 100%;
    max-width: 440px;
  }

  .search-row {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 12px;
  }
  input {

    color: #333;
    font-size: 16px;
    min-width: 300px;
    max-width: 500px;
    padding: 2px 15px;
    border: 1px solid #eee;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #f1f1f1;
    height: 40px;

  }
  .location  {
    height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 9px 20px 0px;
  }
  button {
    text-align: center;
    background-color: #BD081B;
    color: #fff;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    padding: 0 20px;
  }

  ul {
    display: flex;
    justify-content: start;
    li {

      cursor: pointer;
      margin-right: 7px;
      padding: 0px 10px;
      background-color: #fff;
      font-size: 13px;
      color: #fff;
      border-radius: 20px;
      border:1px solid #BD081B;
      color: #BD081B;
      transition: all 0.5s;
      &:hover{
        transition: all 0.5s;
        border: 1px solid #BD081B;
        background-color: #BD081B;
        color: #fff;
      }
    }
  }
}

